body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.row{
    flex-grow: 1;
    display: flex;
}

.column{

    flex-grow: 1;
    border: 1px solid black;
}

.red{
    background-color: red;
}